body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("basketball.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: auto;
    padding: 5px;
}

.container div {
    width: 50%;
    margin: 5px;
}

.container h3{
    text-align: center;
}

div.score{
    padding: 10px;
    text-align: center;
    width: 90%;
    
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color:aqua;
    font-weight: bold;
    width: 27%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.home{
    background-color: darkblue;
    color: yellow;
}

.away{
    background-color: green;
    color: white;
}

#new-game{
    width: 100%;
    background-color: darkred;
    color: white;
}
    